<ion-tabs>
  <ion-tab color="dark" [root]="tab1Root" tabTitle="Home" tabIcon="home" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Scan Billet" tabIcon="ios-eye"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Programme" tabIcon="ios-list-box"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Stats" tabIcon="ios-podium-outline"></ion-tab>
</ion-tabs>
