.activated, .tab-item.tab-item-active, .tab-item.active, .tab-item.activated  {
  color: black;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #ba0016; }
.tabs-md .tab-button[aria-selected=true] {
  color: #000;}