page-scan {
  h3 { color: #ba0016; }

  .card-md h2{ color: #ba0016; }
  .item-md h2{ font-size : 2rem; }
  .button-md-dark {
    height: 50px;
    font-size : 1.6rem;
  }
  .big { font-size: 130%; }
  #secacoeur {    width:150px; }
  #star {    width:40px;  }
}
