<ion-header>

    <ion-navbar>
        <ion-title>Scan QRcode Billetterie</ion-title>
    </ion-navbar>

</ion-header>

<ion-content text-center padding>

        <img id="secacoeur" src="assets/imgs/secacoeurs.png">

        <button ion-button color="dark" full round (click)="scan()">
            <ion-icon name="ios-eye" item-start></ion-icon>
            Vérifier un billet
        </button>

    <ion-card text-center padding *ngIf="errorMsg">
        <ion-card-header>
            Erreur
        </ion-card-header>
        <p>
            {{ errorMsg }}
        </p>
    </ion-card>

    <ion-card >
        <ion-card-header  *ngIf="firstname">
            {{firstname}} {{lastname}}
        </ion-card-header>

        <!--Affichage des infos de validation du billet-->
        <ion-item *ngIf="security&&verification">
                <img id="ok" src="assets/imgs/OK.png">
        </ion-item>
        <ion-item *ngIf="security&& !verification">
            <img id="ok" src="assets/imgs/KO.png">
        </ion-item>


        <ion-item *ngIf="(security&&nb_adults_sat)||(security&&nb_kids_sat)">
            <h2>Samedi 8 sept</h2>
            <p>
                Adultes : <span class="big"> {{nb_adults_sat}} </span>
                <span *ngIf="nb_kids_sat">- Enfants : <span class="big"> {{nb_kids_sat}} </span></span>
         </p>
        </ion-item>
        <ion-item *ngIf="(security&&nb_adults_sun)||(security&&nb_kids_sun)">
            <h2>Dimanche 9 sept</h2>
            <p>
                Adultes : <span class="big"> {{nb_adults_sun}} </span>
                <span *ngIf="nb_kids_sun">- Enfants : <span class="big"> {{nb_kids_sun}} </span></span>
         </p>
        </ion-item>
    </ion-card>


        <img id="star" src="assets/imgs/etoile-debroussailleuses.png">

</ion-content>