<ion-header>
    <ion-navbar>
        <ion-title>QRcode Les Débroussailleuses</ion-title>
    </ion-navbar>
</ion-header>

<ion-content text-center  padding>
    <img id="secacoeur" src="assets/imgs/secacoeurs.png">
    <button ion-button icon-left full color="dark"  (click)="gotoScanPage()">
        <ion-icon name="ios-eye" item-start></ion-icon> Scan billetterie
    </button>
    <br>
    <button ion-button icon-left full clear color="dark"  (click)="gotoProgrammePage()">
        <ion-icon name="ios-list-box" item-start></ion-icon>
         Programme du week-end
    </button>
    <button ion-button icon-left full clear color="dark" >
        <ion-icon name="ios-podium-outline" item-start></ion-icon>
        Statistiques
    </button>
    <img id="star" src="assets/imgs/etoile-debroussailleuses.png">
</ion-content>