<!--
  Generated template for the StatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>stats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <img id="star" src="assets/imgs/etoile-debroussailleuses.png">
</ion-content>
