<ion-header>
  <ion-navbar>
    <ion-title>
      Programme
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center  padding >
  <img id="secacoeur" src="assets/imgs/secacoeurs.png">
  <ion-list>
    <ion-item>
      <a href="https://www.facebook.com/LesDebroussailleuses/">
        <ion-icon name="logo-facebook" item-start></ion-icon> Facebook </a>  <a href="http://lesdebroussailleuses.docteurparadi.com/">
      <ion-icon name="ios-globe" item-start></ion-icon>
      Site Les Débroussailleuses
    </a>
    </ion-item>
  </ion-list>

  <ion-list>
    <div id="programme">
      <h3>Samedi 8 septembre 2018</h3>
      <ion-item>
        Apéro huîtres/ Restauration/ Bar <br>
        Produits bios et locaux<br>
        Karine Gonzalez - Danse flamenco<br>
        <img src="assets/imgs/Karine_Gonzales.jpg"><br>
        Ca.Choquet, Ju. Rascle - Arts équestres<br>
        Pascaline Herveet chante Bukowski<br>
        <img src="assets/imgs/bukowski.jpg"><br>
        Chantal morte - Blues décadent<br>
        <img src="assets/imgs/chantalmortementalshort.png"><br>
        The Robots - très jeune groupe rock<br>
        <img src="assets/imgs/the_robots.jpg"><br>
        Marc Prépus Le Big Caddie Man<br>Concert pour public familial averti.<br>
        <img src="assets/imgs/Marc_Prepus.jpg"><br>
        Cécile Liège - Safari sonore<br>
        Ar. Landoin & Ju. Masson-Pépites circassiennes<br>
        Séb. Thomazo - expo dessins peintures<br>
        Lectures / Ateliers pour les enfants<br>
        Stands de créateurs et d’éditeurs locaux
      </ion-item>
      <h3>Dimanche 9 septembre 2018</h3>
      <ion-item>
        Apéro huîtres/ Restauration/ Bar<br>
        Produits bios et locaux<br>
        Lectures / Ateliers pour les enfants<br>
        Stands de créateurs et d’éditeurs locaux<br>
        Cécile Liège - Safari sonore<br>
        Ar. Landoin & Ju. Masson-Pépites circassiennes<br>
        Séb. Thomazo - expo dessins peintures<br>
        Les X filles - spectacle musical<br>
        <img src="assets/imgs/XFilles2.jpg"><br>
        Katia Baclet - conférence gesticulée<br>
        <img src="assets/imgs/katia_baclet.jpg"><br>
        Les Elles - création musicale Les Petits bonnets<br>
        Ca.Choquet, Ju. Rascle - Arts équestres<br>
        Les Mutins de Pangée - coop. cinéma<br>
        Corentin - électro swing
      </ion-item>
    </div>
  </ion-list>
  <img id="star" src="assets/imgs/etoile-debroussailleuses.png">
  <ion-item>
    Punkbox<br>
    <img src="assets/imgs/punkbox.jpg"><br>
    Louisa Wurck - fildeferiste<br>
    <img src="assets/imgs/Louisa_Wurck.jpg"><br>
  </ion-item>
</ion-content>
